$delicatebrown: #fcd7b6;
$delicateblue: #a3bbc8;
$txtheadcolor: #436372;
$flinkcolor: #7b7b7b;
%rubik-300 {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}

%rubik-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

%dmsans-400 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
}

%dmsans-700 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
}