@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  padding-top: 50px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}


.logo {
  display: flex;

  &__image {
    align-self: center;
    width: 51px;
    height: 39px;
  }

  &__title {
    margin: auto 0 auto 15px;
    color: $txtheadcolor;
    font-size: 36px;
    line-height: 58px;
    @extend %rubik-500
  }

}


.nav-menu {
  display: flex;
  margin-left: 50px;

  &__item + .nav-menu__item {
    padding-left: 30px;
  }

  &__link {
    color: $txtheadcolor;
    @extend %rubik-500
  }
}


.user-nav {
  display: flex;
  align-items: center;

  &__link {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative
  }

  &__link--gray {
    background-color: #edf1f4;
    margin-right: 25px;
  }

  &__link--delicateblue {
    background-color: $delicateblue;
  }

  &__search-icon {
    position: absolute;
    right: 50%;
    top: 50%; /* 3 */
    transform: translate(50%, -50%)
  }

  &-el {
    display: flex;
    align-items: center;
    max-width: 180px;
    background: $delicatebrown;
    border-radius: 50px;
    height: 50px;
    margin-right: 35px;
  }

  &-el__heart-link {
    padding: 0 30px 0 40px;
    position: relative;
  }

  &-el__heart-link::after {
    content: '';
    position: absolute;
    right: 0;
    top: -7px;
    height: 33px;
    border-right: 1px solid white;
  }

  &__heart-count {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20px;
    top: -7px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
  }

  &-el__basket-link {
    position: relative;
    padding-right: 45px;
    padding-left: 25px;
  }

  &__basket-count {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 35px;
    top: -7px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
  }

  &__group-icon {
    position: absolute;
    right: 50%;
    top: 50%; /* 3 */
    transform: translate(50%, -50%)
  }
}

// * Section Product


.product {
  .container {
    max-width: 1170px;
    padding: 0;
  }

  // ? Copied
  .title {
    @extend %dmsans-700;
    font-size: 36px;
    color: rgb(25, 25, 25);
    text-align: center;
  }

  .list-link {
    display: flex;
    justify-content: center;
  }

  .list-link__item {
    @extend %dmsans-700;
    font-size: 16px;
    color: #8b8b8b;
  }

  .list-link__item + .list-link__item {
    margin-left: 30px;
  }

  .list-link__item--active {
    color: #1a1a1a;
  }
}

.product-top {
  margin-top: 75px;

  &__title {
    margin-bottom: 40px;
  }

  &__content {
    margin-top: 85px;
    display: flex;
    flex-wrap: wrap;
  }

  &__content-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 380px;
    width: 270px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);
    margin-right: 30px;
    margin-bottom: 40px;
  }

  &__content-item:nth-child(4n) {
    margin-right: 0;
  }

  &__content-image {
    height: 250px;
    display: flex;
    align-items: center;
  }

  &__content-info {
    height: 130px;
    text-align: center;
  }

  &__content-title {
    @extend %dmsans-700;
    margin-top: 30px;
    font-size: 16px;
    line-height: 40px;
    color: #243f4d;
  }

  &__content-subtitle {
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 40px;
    color: $delicateblue;
  }
}

.product-bottom {
  margin-top: 150px;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    width: 870px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #feefe2;
  }

  &__content-img {
    position: relative;
    top: -100px;
  }

  &__content-title {
    @extend %dmsans-700;
    font-size: 26px;
    line-height: 32px;
    color: #243f4d;
    margin-bottom: 30px;
  }

  &__content-subtitle {
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: #243f4d;
    margin-bottom: 40px;
  }

  &__content-btn {
    @extend %rubik-500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 180px;
    min-height: 60px;
    border: 1px solid #b3b7b5;
    border-radius: 5px;
    color: #436372;
    padding-left: 20px;

    & > img {
      display: inline-block;
      margin-left: 45px;
      margin-right: 20px;
    }

    .t-second-item {
      margin-bottom: 20px;
    }
  }

  .bottom-img-second {
    margin-right: 65px;
  }
}

// * Footer

footer {
  background-color: #fff;

  .footer-top__link,
  .footer-bottom__nav-link,
  .footer-top__subtitle {
    text-decoration: none;
    color: #7b7b7b;
  }
}

.footer-top {
  padding-top: 85px;
  padding-bottom: 80px;
  display: flex;
  border-bottom: 1px solid #dae4e9;

  &__contact {
    max-width: 200px;
    margin-right: 100px;
    line-height: 24px;
  }

  &__address {
    display: block;
    @extend %rubik-400;
    margin-top: 20px;
    color: #7b7b7b;
  }

  &__address + .footer-top__address {
    margin-top: 1px;
  }

  &__service {
    max-width: 110px;
    width: 100%;
    margin-right: 175px;
  }

  &__account {
    max-width: 110px;
    width: 100%;
    margin-right: 200px;
  }

  &__title {
    font-size: 16px;
    line-height: 21px;
    @extend %dmsans-700
  }

  &__list {
    margin-top: 20px;
  }

  &__link {
    @extend %rubik-400;
    line-height: 32px;
  }

  &__item-form {
    max-width: 270px;
    width: 100%;
  }

  &__subtitle {
    margin-top: 25px;
    margin-bottom: 35px;
  }

  &__service, &__account, &__item-form {
    padding-top: 20px;
  }

  &__form {
    display: flex;
  }

  &__form-input {
    max-width: 166px;
    width: 100%;
    background-color: $delicatebrown;
    padding: 12px 10px 12px 15px;
    border: none;
    outline: none;

    &::placeholder {
      color: #234969;
    }
  }

  &__form-btn {
    height: 49px;
    font-size: 14px;
    line-height: 21px;
    @extend %dmsans-400;
    max-width: 100px;
    width: 100%;
    border: none;
    background-color: $delicateblue;
    color: white;
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
  height: 90px;

  &__copy {
    color: $flinkcolor;
  }

  &__nav-list {
    display: flex;
    position: relative;
  }

  &__nav-item {
    padding-right: 15px;
  }

  &__nav-item + .footer-bottom__nav-item {
    padding-left: 15px;

    ::before {
      content: '';
      border-left: 1px solid $delicateblue;
      position: relative;
      left: -15px;
    }
  }
}

.top-slider {
  margin-top: 55px;

  .container {
    background-color: $delicatebrown;
    padding: 0;
  }

  &__container {
    max-width: 1770px;
  }

  &__item {
    display: flex !important;
    justify-content: space-between;
    padding: 225px 300px 560px 300px;
    position: relative;
    background-image: url("../images/bg-elipse.png");
    background-position: top 100px right 180px;
    background-repeat: no-repeat;
    width: 609px;
    height: 634px;
  }

  &__img {
    width: 640px;
    height: 260px;

  }

  &__title {
    @extend %rubik-500;
    font-size: 72px;
    line-height: 70px;
    color: #243f4d;
  }

  &__text {
    margin-top: 40px;
    @extend %rubik-400;
    line-height: 30px;
    font-size: 18px;
    color: #436372;
  }

  &__btn {
    width: 200px;
    height: 60px;
    display: flex;
    padding-left: 30px;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
    background-color: #a3bbc8;
    position: relative;
    color: white;
    @extend %rubik-400;

    &::after {
      content: '';
      position: absolute;
      right: 20px;
      background-image: url('../images/top-arrow.png');
      width: 22px;
      height: 9px;
    }
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    padding-bottom: 45px;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      margin-left: 12px;
      background-color: #fde3cc;
      border-radius: 50%;
    }

    .slick-active {
      background-color: #fff;
    }
  }
}

.bottom-slider {
  &__inner {
    background-color: #fef7f0;
  }

  &__items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__title {
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 40px;
  }

  &__subtitile {
    @extend %dmsans-400;
    font-size: 16px;
    line-height: 30px;
  }

  &__icon {
    margin-right: 30px;
  }

  .support-icon {
    width: 52px;
    height: 54px;
  }

  .delivery-icon {
    width: 55px;
    height: 34px;
  }

  .payment-icon {
    width: 54px;
    height: 53px;
  }
}

@import "media";
